<mat-form-field class="filter" appearance="standard">
  <mat-label>Filtros</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>

<table mat-table [dataSource]="_dataSource" class="mat-elevation-z8">
  <ng-container
    [matColumnDef]="column.displayName"
    *ngFor="let column of displayedColumns"
  >
    <th mat-header-cell *matHeaderCellDef>{{ column.displayName }}</th>

    <td mat-cell *matCellDef="let element" (click)="removeData()">
      <span>
        {{ element[column.name] }}
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
