<div class="content">
  <div [formGroup]="form" class="my-form">
    <mat-form-field appearance="fill" class="my-inputs">
      <mat-label>Nome: </mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="my-inputs">
      <mat-label>Número de telefone:</mat-label>
      <app-tel-input formControlName="tel" required></app-tel-input>
    </mat-form-field>
  </div>

  <div class="my-buttons">
    <button mat-raised-button>Limpar</button>
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</div>
